# Haskell build artifacts
dist/
dist-newstyle/
cabal-dev/
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

# Cabal
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
*.cabal~

# Stack
.stack-work/
stack.yaml.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# nvim lsp
tags
